RacingEngineCore/.vs/DX11Starter/v16/Browse.VC.db
RacingEngineCore/.vs/DX11Starter/v16/Browse.VC.opendb
RacingEngineCore/.vs/DX11Starter/v16/ipch/
RacingEngineCore/.vs/
RacingEngineCore/.vs/DX11Starter/
RacingEngineCore/.vs/DX11Starter/v16/
RacingEngineCore/x64/